amqp==5.0.6
APScheduler==3.7.0
asgiref==3.11.1
billiard==3.6.4.0
certifi==2026.6.17
chardet==4.0.0
charset-normalizer==3.4.7
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==3.1.2
Django==6.0.6
django-cors-headers==3.7.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.15
flake8==3.9.2
gunicorn==20.1.0
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.3
kombu==5.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==26.2
prompt-toolkit==3.0.19
psycopg2==2.9.12
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==1.7.1
pyparsing==2.4.7
python-dotenv==1.2.2
pytz==2021.1
PyYAML==6.0.3
requests==2.34.2
ruamel.yaml==0.16.13
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
tzlocal==2.1
uritemplate==3.0.1
urllib3==2.7.0
vine==5.0.0
wcwidth==0.2.5
